.header {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;

}

.header-logo {}

.header-img {
  width: 40px;
  height: 60px;
}

.header-line {
  height: 1px;
  background-color: #333;
  width: 100%;
}

.header-subtitle {
  font-style: italic;
}