.header {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;

}

.header-img {
  max-width: 70px;
  height: 60px;
}

.header-line {
  height: 1px;
  background-color: #333;
  width: 100%;
}
.header-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}
.header-subtitle {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}