.gallery-conatiner {
    display: flex;
    gap: 50px;
}

.gallery-image {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.gallery-title {
    color: #6CB4EE;
    font-size: 24px;
    margin-bottom: 10px;
}